In [4]:
from sklearn.neighbors import KernelDensity
import numpy as np
from matplotlib import pyplot as plt
import collections
import re
import pandas as pd
from functools import reduce

## HW #2 Question 1.1- Get BoWs

In [25]:
str_A = 'sacramento is a state captial and it has a professional basketball team'
str_B = 'Columbus is a state captial and it has a professional hockey team by no professional basketball team'
str_C = 'the captial bank at Cincinnati has a professional team'

vocab = ['captial', 'state', 'team', 'basketball', 'hockey', 'professional', 'bank']

from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words='english', token_pattern=u"(?u)\\b\\w+\\b", vocabulary=vocab) ## Why is this needed?
#print(vectorizer.get_feature_names())
X = vectorizer.fit_transform([str_A, str_B, str_C])
bow_df_short = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names_out())
bow_df_short.head()

   captial  state  team  basketball  hockey  professional  bank
0        1      1     1           1       0             1     0
1        1      1     2           1       1             2     0
2        1      0     1           0       0             1     1

### HW #2 Question 1.2 - L1 Distance

A to B

In [36]:
vectors = bow_df_short.to_numpy()
dist_a_b = np.linalg.norm(vectors[0] - vectors[1])
print(np.around(dist_a_b, 2))

1.73

B to C

In [37]:
dist_a_c = np.linalg.norm(vectors[0] - vectors[2])
print(np.around(dist_a_c, 2))

1.73

### Question 1.3 - Normalization

In [39]:
norm_l2 = np.linalg.norm(bow_df_short.values, axis=1, ord=2)
norm_l2

array([2.23606798, 3.46410162, 2.        ])

In [42]:
normed_matrix=bow_df_short.divide(norm_l2, axis='rows')
normed_matrix

    captial     state      team  basketball    hockey  professional  bank
0  0.447214  0.447214  0.447214    0.447214  0.000000      0.447214   0.0
1  0.288675  0.288675  0.577350    0.288675  0.288675      0.577350   0.0
2  0.500000  0.000000  0.500000    0.000000  0.000000      0.500000   0.5

In [47]:
normed_vectors = normed_matrix.to_numpy()
dist_a_b = np.linalg.norm(normed_vectors[0] - normed_vectors[1])
print("Distance from A to B (Normalized):", np.around(dist_a_b, 2))

Distance from A to B (Normalized): 0.44

In [48]:
dist_a_c = np.linalg.norm(normed_vectors[0] - normed_vectors[2])
print("Distance from A to C (Normalized):", np.around(dist_a_c, 2))

Distance from A to C (Normalized): 0.81