In [15]:
from sklearn.neighbors import KernelDensity
import numpy as np
from matplotlib import pyplot as plt
import collections
import re
import pandas as pd
from functools import reduce

## HW #2 Question 1.1- Get BoWs

In [16]:
str_A = 'sacramento is a state captial and it has a professional basketball team'
str_B = 'Columbus is a state captial and it has a professional hockey team by no professional basketball team'
str_C = 'the captial bank at Cincinnati has a professional team'

vocab = ['captial', 'state', 'team', 'basketball', 'hockey', 'professional', 'bank']

from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words='english', token_pattern=u"(?u)\\b\\w+\\b", vocabulary=vocab) ## Why is this needed?
#print(vectorizer.get_feature_names())
X = vectorizer.fit_transform([str_A, str_B, str_C])
bow_df_short = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names_out())
bow_df_short.head()

   captial  state  team  basketball  hockey  professional  bank
0        1      1     1           1       0             1     0
1        1      1     2           1       1             2     0
2        1      0     1           0       0             1     1

### HW #2 Question 1.2 - L1 Distance

A to B

In [17]:
vectors = bow_df_short.to_numpy()
dist_a_b = np.linalg.norm(vectors[0] - vectors[1])
print(np.around(dist_a_b, 2))

1.73

B to C

In [18]:
dist_a_c = np.linalg.norm(vectors[0] - vectors[2])
print(np.around(dist_a_c, 2))

1.73

### Question 1.3 - Normalization

In [19]:
norm_l1 = np.linalg.norm(bow_df_short.values, axis=1, ord=1)
norm_l1

array([5., 8., 4.])

In [20]:
normed_matrix=bow_df_short.divide(norm_l1, axis='rows')
normed_matrix

   captial  state  team  basketball  hockey  professional  bank
0    0.200  0.200  0.20       0.200   0.000          0.20  0.00
1    0.125  0.125  0.25       0.125   0.125          0.25  0.00
2    0.250  0.000  0.25       0.000   0.000          0.25  0.25

In [21]:
normed_vectors = normed_matrix.to_numpy()
dist_a_b = np.linalg.norm(normed_vectors[0] - normed_vectors[1])
print("Distance from A to B (Normalized):", np.around(dist_a_b, 2))

Distance from A to B (Normalized): 0.19

In [22]:
dist_a_c = np.linalg.norm(normed_vectors[0] - normed_vectors[2])
print("Distance from A to C (Normalized):", np.around(dist_a_c, 2))

Distance from A to C (Normalized): 0.39